body {
    font-family: 'Meiryo UI', sans-serif;
    color: #384047;
}

.submit-button {
    background-color: #4bc970;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border-width: 0;
    margin-bottom: 10px;
}

.main-form {
    margin: 10px auto;
    padding: 30px;
    background: #f4f7f8;
    border-radius: 8px;
    max-width: 480px;
}

.main-title {
    margin-bottom: 30px;
    text-align: center;
}

.main-input {
    border: none;
    font-size: 16px;
    height: auto;
    outline: 0;
    padding: 15px;
    width: 100%;
    background: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin: 0 0;
}

.sex-button {
    margin: 0 4px 8px 0;
}

.main-fieldset {
    margin-bottom: 30px;
    border: none;
}

.main-label {
    display: block;
    margin-bottom: 8px;
}

.lighter-label {
    font-weight: 200;
    color: dimgray;
    display: inline;
}

.number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 100%;
}

.message-under-input {
    padding-bottom: 15px;
}

.date-of-birth {
    margin-bottom: 0;
}

.button-unavailable {
    background-color: #bdf3bd;
}

.button-available {
    background-color: #4bc970;
}

.button-available:hover {
    cursor: pointer;
}

.gender-button {
    margin-bottom: 15px;
}

.gender-button-first {
    margin-bottom: 1px;
}

.image-preview {
    height: 320px;
    width: auto;
    text-align: center;
}

.image-avatar {
    margin-bottom: 30px;
}

.avatar-label {
    margin-top: 15px;
}

.glow-effect {
    background-color: #ccc;
}

.glow-effect.active {
    border-color: #33c6a4;
    -webkit-box-shadow: 0 0 25px #33c6a4;
    -moz-box-shadow: 0 0 25px #33c6a4;
    box-shadow: 0 0 25px #33c6a4;
}